hr.solid-divider {
    @include generate-dynamic-styles-with-hash((
        xxxl:   (width: 50px, height: 4px, margin-top: 0.5rem),
        md:     (width: 40px, height: 2px, margin-top: 0)
    ));

    padding-top: 0;
    background-color: lighten($primary, 10%);
    border: none;
    opacity: 1;
}

.btn-xl {
    @include generate-dynamic-styles-with-hash((
        xxxl:   (padding: 1rem 1.5rem, font-size: 1rem),
        lg:     (padding: 0.95rem 1.4rem, font-size: 0.95rem),
        md:     (padding: 0.7rem 1.1rem, font-size: 0.8rem)
    ));

    font-weight: bold;
    font-family: $headings-font-family;
    text-transform: uppercase;
    border-radius: 4rem;
}