@import "variables";
@import "mixins";

// importing bootstrap
@import "/node_modules/bootstrap/scss/bootstrap";

// importing core styling file
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// our project needs Solid + Brands
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "layout";
@import "typography";